<%= form_for @product do |f| %>

	<% if @product.errors.any? %>
		<div id="error_explanation">
			<!-- Display the number of errors -->
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2> 

			<ul>
				<!-- Shows the full error message for each error -->
				<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>

	<% else %>
		<p>
			<%= f.label "name" %><br>
			<%= f.text_field "name" %>
		</p>
		<p>
			<%= f.label "description" %><br>
			<%= f.text_field "description" %>
		</p>
		<p>
			<%= f.label "price_in_cents" %><br>
			<%= f.text_field "price_in_cents" %>
		</p>
		<p>
			<%= f.submit "Save" %><br>
		</p>
	<% end %>
<% end %>