<h1>Edit Products</h1>
<%= link_to "Back", @product %>


<%= form_for @product do |f| %>
	<p>
		<%= f.label "name" %><br>
		<%= f.text_field "name" %>
	</p>
	<p>
		<%= f.label "description" %><br>
		<%= f.text_field "description" %>
	</p>
	<p>
		<%= f.label "price in cents" %><br>
		<%= f.text_field "price_in_cents" %>
	</p>
	<p>
		<%= f.submit "Save" %><br>
	</p>
<% end %>
